/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* CSS Reset  */
body{
    font-family: 'Poppins', sans-serif;
}
/* Header start  */

.carousel-inner{
    background-color: #FCEAE8;
}
.carousel-inner h2{
    font-size: 40px;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    padding: 9px 25px;
    border-radius: 8px;
}
.price{
    color: #FF136F;
}